/** Alpha is specified as [0-1] */
/* line 4, ../core/_core.sass */
body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
/* line 8, ../core/_core.sass */
body.ie6 {
  font-size: 10px;
}

/* line 11, ../core/_core.sass */
.body-wrapper {
  min-height: 100%;
  position: relative;
}

/* line 15, ../core/_core.sass */
a {
  text-decoration: none;
  color: #3b7eb7;
  cursor: pointer;
  cursor: hand;
}
/* line 19, ../core/_core.sass */
a:hover {
  color: #3b4b72;
}

/* line 23, ../core/_core.sass */
.clear {
  width: 100%;
  height: 1px;
  clear: both;
  float: none;
}

/* line 29, ../core/_core.sass */
#gm-page-block {
  display: none;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -moz-opacity: 0;
  -khtml-opacity: 0;
  opacity: 0;
  background: white;
  position: absolute;
  z-index: 500;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

/* line 40, ../core/_core.sass */
body.gm-page-block {
  overflow: hidden !important;
}
/* line 42, ../core/_core.sass */
body.gm-page-block #gm-page-block {
  display: block;
}

/* line 4, ../core/_forms.sass */
.gm-input-row {
  clear: both;
}
/* line 7, ../core/_forms.sass */
.gm-input-row.two .gm-input {
  width: 48%;
  clear: none;
}
/* line 10, ../core/_forms.sass */
.gm-input-row.two .gm-input.first {
  float: left;
}
/* line 12, ../core/_forms.sass */
.gm-input-row.two .gm-input.last {
  float: right;
  clear: right;
}
/* line 16, ../core/_forms.sass */
.gm-input-row.input-box .gm-input {
  float: left;
  border-right: 0;
}
/* line 19, ../core/_forms.sass */
.gm-input-row.input-box .gm-button {
  float: right;
  border-left: 0;
}

/* line 23, ../core/_forms.sass */
.gm-input {
  position: relative;
  font-size: 18px;
  background: #eaecee;
  border: 1px solid #b6b7b8;
  padding: 5px;
  clear: both;
  margin: 10px 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 32, ../core/_forms.sass */
.gm-input.focused {
  border-color: #3b7eb7;
  background: white;
}
/* line 35, ../core/_forms.sass */
.gm-input input, .gm-input textarea {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  background: transparent;
  border: 0;
  padding: 0;
  width: 100%;
  outline: none !important;
  display: block;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 45, ../core/_forms.sass */
.gm-input textarea {
  resize: none;
}
/* line 47, ../core/_forms.sass */
.gm-input label {
  display: block;
  position: absolute;
  top: 5px;
  left: 5px;
  color: #a0a2a4;
  cursor: text;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* line 3, ../ui/_alert.sass */
.alert {
  position: relative;
  padding: 4px 10px;
}
/* line 6, ../ui/_alert.sass */
.alert.error {
  color: #561918;
  background: #FFE2E2;
  border: 1px solid #E6A6A6;
}
/* line 10, ../ui/_alert.sass */
.alert.warning {
  color: #563a2b;
  background: #FFEAD2;
  border: 1px solid #DEBB9D;
}
/* line 14, ../ui/_alert.sass */
.alert.msg {
  color: #293852;
  background: #E1EDFF;
  border: 1px solid #A6BBDA;
}
/* line 18, ../ui/_alert.sass */
.alert.success {
  color: #20411e;
  background: #EBFFEB;
  border: 1px solid #A8DCA7;
}

/* line 3, ../ui/_buttons.sass */
.button {
  position: relative;
  padding: 8px 14px;
  font-size: 14px;
  text-align: center;
  color: white;
  cursor: pointer;
  cursor: hand;
}
/* line 10, ../ui/_buttons.sass */
.button.red {
  background: url("/assets/ui/red_button.png") no-repeat right bottom;
  background-size: 250px 100px;
}
/* line 13, ../ui/_buttons.sass */
.button.blue {
  background: url("/assets/ui/blue_button.png") no-repeat right bottom;
  background-size: 250px 100px;
}

/* line 17, ../ui/_buttons.sass */
a.button {
  text-decoration: none;
}
/* line 19, ../ui/_buttons.sass */
a.button:hover {
  background-position: right 0 bottom -50px;
  color: white;
}
/* line 24, ../ui/_buttons.sass */
a.button:hover.arrow.red:before {
  border-color: #a82222 #a82222 #a82222 white;
}
/* line 27, ../ui/_buttons.sass */
a.button:hover.arrow.blue:before {
  border-color: #3b7eb7 #3b7eb7 #3b7eb7 white;
}

/* line 32, ../ui/_buttons.sass */
.button.arrow {
  padding: 8px 32px 8px 14px;
}
/* line 34, ../ui/_buttons.sass */
.button.arrow::before {
  content: "";
  width: 0;
  height: 0;
  font-size: 0 !important;
  line-height: 0;
  top: 12px;
  right: 9px;
  border: 6px solid white;
  position: absolute;
  display: block;
  border-width: 6px 0 6px 10px;
}
/* line 47, ../ui/_buttons.sass */
.button.arrow.red:before {
  border-color: #dc2d2d #dc2d2d #dc2d2d white;
}
/* line 50, ../ui/_buttons.sass */
.button.arrow.blue:before {
  border-color: #2f5f87 #2f5f87 #2f5f87 white;
}

/* line 1, ../ui/_dialog.sass */
.gm-dialog {
  position: absolute;
  z-index: 510;
  top: 0;
  left: 0;
  display: none;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -moz-opacity: 0;
  -khtml-opacity: 0;
  opacity: 0;
}
/* line 8, ../ui/_dialog.sass */
.gm-dialog.visible {
  display: block;
}

/* line 1, ../ui/_menu.sass */
.gm-menu-toggle {
  cursor: pointer;
  cursor: hand;
}

/* line 4, ../ui/_menu.sass */
.gm-menu {
  display: none;
  background: white;
  border: 1px solid #caccce;
  position: absolute;
  padding: 5px 0;
  margin-top: 5px;
  font-size: 11pt;
  z-index: 200;
  -moz-box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.15);
}
/* line 14, ../ui/_menu.sass */
.gm-menu.fixed {
  position: fixed;
}
/* line 17, ../ui/_menu.sass */
.gm-menu.arrow:after {
  content: "";
  position: absolute;
  top: -9px;
  right: 0;
  background: url("/assets/ui/menu-white-top@2x.png") no-repeat bottom center;
  background-size: 17px 9px;
  width: 100%;
  height: 9px;
  font-size: 0;
  line-height: 0;
}
/* line 29, ../ui/_menu.sass */
.gm-menu.arrow.right:after {
  right: 16px;
  width: 17px;
}
/* line 33, ../ui/_menu.sass */
.gm-menu.arrow.left:after {
  left: 16px;
  width: 17px;
}

/* line 5, ../ui/_msg.sass */
.gm-app-message {
  position: fixed;
  z-index: 500;
  display: none;
  border: 1px solid;
  font-size: 13px;
}
/* line 11, ../ui/_msg.sass */
.gm-app-message .gmam-title {
  font-weight: 700;
}
/* line 14, ../ui/_msg.sass */
.gm-app-message a.gmam-close {
  font-size: 16px;
  font-weight: bold;
  position: absolute;
  right: 0;
  line-height: 1;
}
/* line 21, ../ui/_msg.sass */
.gm-app-message.error {
  color: #561918;
  background: #FFE2E2;
  border-color: #E6A6A6;
}
/* line 25, ../ui/_msg.sass */
.gm-app-message.error a.gmam-close {
  color: #D48B8B;
}
/* line 27, ../ui/_msg.sass */
.gm-app-message.error a.gmam-close:hover {
  color: #B13030;
}
/* line 29, ../ui/_msg.sass */
.gm-app-message.warning {
  color: #563a2b;
  background: #FFEAD2;
  border-color: #DEBB9D;
}
/* line 33, ../ui/_msg.sass */
.gm-app-message.warning a.gmam-close {
  color: #CCA27E;
}
/* line 35, ../ui/_msg.sass */
.gm-app-message.warning a.gmam-close:hover {
  color: #9C612F;
}
/* line 37, ../ui/_msg.sass */
.gm-app-message.message {
  color: #293852;
  background: #E1EDFF;
  border-color: #A6BBDA;
}
/* line 41, ../ui/_msg.sass */
.gm-app-message.message a.gmam-close {
  color: #8BAAD8;
}
/* line 43, ../ui/_msg.sass */
.gm-app-message.message a.gmam-close:hover {
  color: #4575BD;
}
/* line 45, ../ui/_msg.sass */
.gm-app-message.success {
  color: #20411e;
  background: #EBFFEB;
  border-color: #A8DCA7;
}
/* line 49, ../ui/_msg.sass */
.gm-app-message.success a.gmam-close {
  color: #7DC77B;
}
/* line 51, ../ui/_msg.sass */
.gm-app-message.success a.gmam-close:hover {
  color: #2B8828;
}
/* line 53, ../ui/_msg.sass */
.gm-app-message.slide {
  padding: 6px 14px 4px 12px;
}
/* line 55, ../ui/_msg.sass */
.gm-app-message.slide a.gmam-close {
  top: -1px;
  padding: 0 2px 2px 2px;
}
/* line 58, ../ui/_msg.sass */
.gm-app-message.slide.top {
  top: 0;
  border-top: 0;
}
/* line 61, ../ui/_msg.sass */
.gm-app-message.slide.bottom {
  bottom: 0;
  border-bottom: 0;
}

/* line 1, ../ui/_scroll.sass */
.gm-scroll_wrapper {
  overflow: hidden;
  position: relative;
}

/* line 5, ../ui/_scroll.sass */
.gm-scrollable {
  position: relative;
  top: 0;
  left: 0;
}

/* line 10, ../ui/_scroll.sass */
.gm-scroll_scrollbar {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 10px;
}
/* line 16, ../ui/_scroll.sass */
.gm-scroll_scrollbar.hidden {
  display: none;
}

/* line 19, ../ui/_scroll.sass */
.gm-scroll_handle {
  position: absolute;
  top: 0;
  right: 0;
  height: 50px;
  width: 10px;
  background: red;
}

/* line 4, ../ui/_spinner.sass */
.gm-spinner {
  display: none;
  position: absolute;
  z-index: 300;
}
/* line 8, ../ui/_spinner.sass */
.gm-spinner .gms-dot {
  position: absolute;
  background: #d0d0d0;
  -moz-transition: background 500ms ease-out;
  -o-transition: background 500ms ease-out;
  -webkit-transition: background 500ms ease-out;
  transition: background 500ms ease-out;
}
/* line 12, ../ui/_spinner.sass */
.gm-spinner .gms-dot.current {
  background: #009bff;
  -moz-transition: background 100ms;
  -o-transition: background 100ms;
  -webkit-transition: background 100ms;
  transition: background 100ms;
}
/* line 15, ../ui/_spinner.sass */
.gm-spinner.small {
  left: 30%;
}
/* line 17, ../ui/_spinner.sass */
.gm-spinner.small .gms-dot {
  width: 10px;
  height: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
/* line 21, ../ui/_spinner.sass */
.gm-spinner.medium {
  left: 25%;
}
/* line 23, ../ui/_spinner.sass */
.gm-spinner.medium .gms-dot {
  width: 10px;
  height: 10px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
}
/* line 27, ../ui/_spinner.sass */
.gm-spinner.large {
  left: 5%;
}
/* line 29, ../ui/_spinner.sass */
.gm-spinner.large .gms-dot {
  width: 10px;
  height: 10px;
  -moz-border-radius: 16px;
  -webkit-border-radius: 16px;
  border-radius: 16px;
}

/* line 33, ../ui/_spinner.sass */
.gm-spinner-block {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: white;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
  -moz-opacity: 0.5;
  -khtml-opacity: 0.5;
  opacity: 0.5;
  z-index: 250;
}

/* line 6, common.sass */
html {
  overflow: auto;
}

/* line 8, common.sass */
body {
  background: white;
}

/* line 11, common.sass */
html, body {
  height: 100%;
}

/* line 14, common.sass */
#map {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-tap-highlight-color: transparent;
}
/* line 21, common.sass */
#map .leaflet-bottom {
  z-index: 10;
  bottom: 36px;
}
/* line 24, common.sass */
#map .leaflet-control-zoom {
  display: none;
}

/* line 27, common.sass */
.map-icon {
  font-size: 16pt;
  font-weight: 600;
  text-align: center;
  line-height: 1.2;
  background: url("/assets/marker-icon-2x.png") no-repeat center center;
  background-size: 25px 41px;
  overflow: visible;
  position: relative;
  color: white;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}

/* line 39, common.sass */
#screen-container {
  width: 320px;
  height: 568px;
  position: relative;
  overflow: hidden;
  -webkit-tap-highlight-color: transparent;
}

/* line 46, common.sass */
.screen {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-tap-highlight-color: transparent;
  overflow: hidden;
  z-index: 1;
}
/* line 56, common.sass */
.screen .gm-scroll_scrollbar {
  width: 4px;
  right: 5px;
  background: transparent;
}
/* line 60, common.sass */
.screen .gm-scroll_handle {
  right: -2px;
  background: #56585a;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  width: 8px;
}
/* line 65, common.sass */
.screen.active, .screen.over, .screen.under {
  display: block;
}
/* line 67, common.sass */
.screen.active {
  z-index: 300;
}
/* line 69, common.sass */
.screen.over {
  z-index: 400;
}
/* line 71, common.sass */
.screen.under {
  z-index: 200;
}

@media (max-width: 400px), (max-height: 400px) {
  /* line 1, _iphone.sass */
  #screen-container {
    height: 100%;
    width: 100%;
  }
}
