.screen.search
  background: #f4f4f4
  .search-bar
    position: relative

#event-list
  position: absolute
  top: $APP_TOP_HEIGHT
  bottom: $APP_NAV_BOTTOM_HEIGHT
  left: 0
  right: 0
  .gm-scroll_wrapper
    height: 100%
  .event
    &:first-child
      border-top: 0
  h4
    font-family: $GM_ROBOTO_FONTS
    font-size: 13.5pt
    color: #697077
    margin: 0
    padding: 14px 10px
    background: white
    border-top: 1px solid rgba(0,0,0, 0.13)
